DATABASE_URL=your_database_url
NEON_DATABASE_URL=your_neon_database_url
TIDEBOUND_ANALYTICS_DATABASE_URL=your_scoped_runtime_database_url
ANALYTICS_ADMIN_TOKEN=your_generated_admin_token
ANALYTICS_RATE_SALT=your_generated_rate_limit_salt
CRON_SECRET=your_generated_cron_token
